# server garbage.
error_log
.ftpquota

#vim
*.swp
.*.swp
.*.sw[a-z]

#OSX
.DS_Store

# Wordpress log files
logs/
database/

# category-images-ii git can't access it
wp-config.php
wp-content/uploads/

.htaccess